<!DOCTYPE html>
<html>
   <head>
   <link href="../static/format.css" th:href="@{/format.css}" rel="stylesheet" />
      <!--Data for formatting the website-->
      <style>
         <title>Home Page</title>
      </style>
   </head>
   <body>
      <div>
         <div>
            <h1>Jack's Website</h1>
         </div>
         <!--Simple introduction paragraph-->
         <p>Hello, and welcome to my website. Use the link bar above to navigate through this site's pages.</p>
         <h1 style = "font-size:150%">Blog Posts</h1>
         <table>
         	<tr>
         		<th><h1 style = "font-size:175%">Day</h1></th>
         		<th><h1 style = "font-size:175%">Post</h1></th>
         	</tr>
         	<tr>
         		<th><p>Day 1</p></th>
         		<th><p>This is my first post!</p></th>
         	</tr>
         	<tr>
         		<th><p>Day 2</p></th>
         		<th><p>This is my second post!</p></th>
         	</tr>
         	<tr>
         		<th><p>Day 3</p></th>
         		<th><p>This is my third post!</p></th>
         	</tr>
         </table>
      </div>
   </body>
</html>